.cardQuestion {
  width: 100%;
  max-width: 400px;

  background-color: rgba(255, 255, 255, 0.219);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.05);

  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.imageQuestion {
  width: 50%;
  align-self: center;
}

.cardQuestionInformation {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 2rem;
}

.cardQuestionMessage {
  text-align: center;
  margin-bottom: 2rem;
}

.cardQuestionFormRadio {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 2rem;
}

.cardQuestionFormRadio button {
  flex-basis: 48%;
  display: flex;
  gap: 10px;
}

.abilitiesList {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.abilityItem {
  padding: 5px;
  border-radius: 5px;
  background-color: var(--tertary-purple);
  font-size: 12px;
  z-index: 1;
}
.questionDescription {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.questionDescriptionPhysic {
  display: flex;
  gap: 10px;
  justify-content: center;
}
