.pokemon-detail-card {
  background: linear-gradient(to right, rgb(236, 236, 236), var(--secondary-purple));
  border-radius: 10px;
  max-width: 450px;
  width: 100%;
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
  min-height: 600px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  z-index: 2;
}

.backdrop {
  position: absolute;
  right: -100px;
  top: -200px;
  filter: grayscale(40%) blur(10px);
}

.backdrop img {
  width: 1000px;
}

.pokemon-detail-card__header {
  position: relative;
  width: 80%;
  background-color: white;
  box-shadow: 0px 0px 4px 2px rgb(228, 228, 228);

  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.pokemon-detail-card__header > img {
  width: 50%;
  object-fit: contain;
  margin-inline: auto;
  z-index: 1;
  transform: scale(1.25);
}

.pokemon-detail-card__header__title {
  color: var(--primary-color);
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.order {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  color: rgb(190, 190, 190);
  filter: blur(3px);
  z-index: 0;
  overflow: hidden;
}

.detail-fisik {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 4px 2px rgb(228, 228, 228);
  font-size: 12px;
}

.height {
  position: absolute;
  top: -10px;
  left: -10px;
}

.weight {
  position: absolute;
  top: -10px;
  right: -10px;
}

.ability__item {
  padding: 5px;
  border-radius: 5px;
  background-color: var(--tertary-purple);
  font-size: 12px;
  z-index: 1;
}

.pokemon-detail-card__header__detail {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  z-index: 1;
  margin-bottom: 1rem;
}

.pokemon-detail-card__header__detail p {
  font-size: 14px;
  z-index: 1;
}

.abilities__list {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.elements img {
  width: 13%;
}

.pokemon-detail-card__body {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pokemon-detail-card__body button {
  margin-top: 20px;
  float: right;
}

@media (min-width: 900px) {
  .pokemon-detail-card {
    flex-direction: row;
    max-width: 75%;
    min-height: 100%;
  }
  .pokemon-detail-card__header {
    width: 40%;
  }
  .pokemon-detail-card__body {
    width: 60%;
  }
}
