.header {
  text-align: center;
  padding-block: 40px;
  transform-origin: center center;
}

.header img {
  width: 250px;
  min-width: 30%;
}

.home {
  display: flex;
  gap: 2rem;
}

.home__form {
  text-align: center;
  margin-bottom: 4rem;
}

.home__pokemon-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  list-style: none;
  gap: 2rem;
  margin-bottom: 2rem;
}

.home__pagination {
  display: flex;
  justify-content: center;
  gap: 5px;
}

@media (min-width: 600px) {
  .home__pokemon-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .home__pokemon-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
