.pokemon-detail-card {
  border: 1px solid black;
  border-radius: 5px;
  width: 500px;
  max-width: 100%;
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
}

.pokemon-detail-card__header {
  text-align: center;
}

.pokemon-detail-card__header img {
  width: 50%;
}

.pokemon-detail-card__body__title {
  text-align: center;
  color: var(--primary-color);
}

.pokemon-detail-card__body__detail {
  margin-block: 20px;
}
